@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import "tailwindcss";

@theme {
  --font-asimovian: Asimovian, sans-serif;
  --breakpoint-xs: 28rem;
}

@theme inline {
  --font-teko: var(--font-teko);
  --font-rajdhani: var(--font-rajdhani);
}

@theme {
  --color-rust-50: #fdf5f3;
  --color-rust-100: #fbe9e5;
  --color-rust-200: #f8d8d0;
  --color-rust-300: #f1bdb0;
  --color-rust-400: #e89681;
  --color-rust-500: #da7359;
  --color-rust-600: #c96147;
  --color-rust-700: #a6472f;
  --color-rust-800: #8a3d2a;
  --color-rust-900: #733829;
  --color-rust-950: #3e1a11;

  --color-tangerine-50: #fffbec;
  --color-tangerine-100: #fff5d3;
  --color-tangerine-200: #ffe8a5;
  --color-tangerine-300: #ffd66d;
  --color-tangerine-400: #ffb832;
  --color-tangerine-500: #ffa00a;
  --color-tangerine-600: #ff8800;
  --color-tangerine-700: #cc6402;
  --color-tangerine-800: #a14d0b;
  --color-tangerine-900: #82410c;
  --color-tangerine-950: #461f04;
}

body.mars-background {
  background-color: var(--color-rust-500);
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
}

.outline-stroke {
  /* filter: drop-shadow(1px 0 0 blue) drop-shadow(-1px 0 0 blue)
    drop-shadow(0 1px 0 blue) drop-shadow(0 -1px 0 blue)
    drop-shadow(1px 1px 0 blue) drop-shadow(-1px -1px 0 blue)
    drop-shadow(1px -1px 0 blue) drop-shadow(-1px 1px 0 blue); */
  filter: drop-shadow(1px 1px 0 var(--outline-color))
    drop-shadow(-1px -1px 0 var(--outline-color))
    drop-shadow(1px -1px 0 var(--outline-color))
    drop-shadow(-1px 1px 0 var(--outline-color));
}
