@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Rajdhani:wght@500;600&family=Teko:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body.mars-background {
  background-image: linear-gradient(
    to bottom,
    #c96147 0%,
    #bd5642 50%,
    #a2432b 100%
  );
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
}
