@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-asimovian: Asimovian, sans-serif;
}

@theme inline {
  --font-teko: var(--font-teko);
  --font-rajdhani: var(--font-rajdhani);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body.mars-background {
  background-image: linear-gradient(
    to bottom,
    #c96147 0%,
    #bd5642 50%,
    #a2432b 100%
  );
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
}
