@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import "tailwindcss";

@theme {
  --font-asimovian: Asimovian, sans-serif;
  --breakpoint-xs: 28rem;
}

@theme inline {
  --font-teko: var(--font-teko);
  --font-rajdhani: var(--font-rajdhani);
}

@theme {
  --color-rust-50: #fdf5f3;
  --color-rust-100: #fbe9e5;
  --color-rust-200: #f8d8d0;
  --color-rust-300: #f1bdb0;
  --color-rust-400: #e89681;
  --color-rust-500: #da7359;
  --color-rust-600: #c96147;
  --color-rust-700: #a6472f;
  --color-rust-800: #8a3d2a;
  --color-rust-900: #733829;
  --color-rust-950: #3e1a11;

  --color-tangerine-50: #fffbec;
  --color-tangerine-100: #fff5d3;
  --color-tangerine-200: #ffe8a5;
  --color-tangerine-300: #ffd66d;
  --color-tangerine-400: #ffb832;
  --color-tangerine-500: #ffa00a;
  --color-tangerine-600: #ff8800;
  --color-tangerine-700: #cc6402;
  --color-tangerine-800: #a14d0b;
  --color-tangerine-900: #82410c;
  --color-tangerine-950: #461f04;
}

body.mars-background {
  background-color: var(--color-rust-500);
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
}

.outline-stroke {
  /* filter: drop-shadow(1px 0 0 blue) drop-shadow(-1px 0 0 blue)
    drop-shadow(0 1px 0 blue) drop-shadow(0 -1px 0 blue)
    drop-shadow(1px 1px 0 blue) drop-shadow(-1px -1px 0 blue)
    drop-shadow(1px -1px 0 blue) drop-shadow(-1px 1px 0 blue); */
  filter: drop-shadow(1px 1px 0 var(--outline-color))
    drop-shadow(-1px -1px 0 var(--outline-color))
    drop-shadow(1px -1px 0 var(--outline-color))
    drop-shadow(-1px 1px 0 var(--outline-color));
}

:root {
  --shadow-color: 13deg 53% 36%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
