@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import "tailwindcss";

@theme {
  --font-asimovian: Asimovian, sans-serif;
  --breakpoint-xs: 28rem;
}

@theme inline {
  --font-teko: var(--font-teko);
  --font-rajdhani: var(--font-rajdhani);
}

@theme {
  --color-rust-50: #fdf5f3;
  --color-rust-100: #fbe9e5;
  --color-rust-200: #f8d8d0;
  --color-rust-300: #f1bdb0;
  --color-rust-400: #e89681;
  --color-rust-500: #da7359;
  --color-rust-600: #c96147;
  --color-rust-700: #a6472f;
  --color-rust-800: #8a3d2a;
  --color-rust-900: #733829;
  --color-rust-950: #3e1a11;
}

body.mars-background {
  background-color: var(--color-rust-500);
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
}

.outline-stroke {
  /* filter: drop-shadow(1px 0 0 blue) drop-shadow(-1px 0 0 blue)
    drop-shadow(0 1px 0 blue) drop-shadow(0 -1px 0 blue)
    drop-shadow(1px 1px 0 blue) drop-shadow(-1px -1px 0 blue)
    drop-shadow(1px -1px 0 blue) drop-shadow(-1px 1px 0 blue); */
  filter: drop-shadow(1px 1px 0 var(--outline-color))
    drop-shadow(-1px -1px 0 var(--outline-color))
    drop-shadow(1px -1px 0 var(--outline-color))
    drop-shadow(-1px 1px 0 var(--outline-color));
}

/* Apollo capsule button styles */
.apollo-button {
  position: relative;
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.3),
    inset 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.apollo-button:not(:disabled):active {
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.3),
    inset -1px -1px 0 rgba(255, 255, 255, 0.2);
  transform: translate(1px, 1px);
}
