@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import "tailwindcss";

@theme {
  --font-asimovian: Asimovian, sans-serif;
  --breakpoint-xs: 28rem;
}

@theme inline {
  --font-teko: var(--font-teko);
  --font-rajdhani: var(--font-rajdhani);
}

@theme {
  --color-rust-50: #fdf5f3;
  --color-rust-100: #fbe9e5;
  --color-rust-200: #f8d8d0;
  --color-rust-300: #f1bdb0;
  --color-rust-400: #e89681;
  --color-rust-500: #da7359;
  --color-rust-600: #c96147;
  --color-rust-700: #a6472f;
  --color-rust-800: #8a3d2a;
  --color-rust-900: #733829;
  --color-rust-950: #3e1a11;

  --color-tangerine-50: #fffbec;
  --color-tangerine-100: #fff5d3;
  --color-tangerine-200: #ffe8a5;
  --color-tangerine-300: #ffd66d;
  --color-tangerine-400: #ffb832;
  --color-tangerine-500: #ffa00a;
  --color-tangerine-600: #ff8800;
  --color-tangerine-700: #cc6402;
  --color-tangerine-800: #a14d0b;
  --color-tangerine-900: #82410c;
  --color-tangerine-950: #461f04;
}

body.mars-background {
  background-color: var(--color-rust-500);
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
}

body.mars-background::before {
  content: "";
  position: absolute;
  background-position: bottom;
  inset: 0;
  z-index: -2;
  background-image: var(--dust-texture-url, url("/dust-texture.svg"));
  background-repeat: repeat;
  opacity: 0.05;
  mix-blend-mode: multiply;
  pointer-events: none;
}

body.mars-background::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--dust-texture-url, url("/dust-texture.svg"));
  background-position: bottom 50%;
  background-repeat: repeat;
  opacity: 0.05;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.outline-stroke {
  /* filter: drop-shadow(1px 0 0 blue) drop-shadow(-1px 0 0 blue)
    drop-shadow(0 1px 0 blue) drop-shadow(0 -1px 0 blue)
    drop-shadow(1px 1px 0 blue) drop-shadow(-1px -1px 0 blue)
    drop-shadow(1px -1px 0 blue) drop-shadow(-1px 1px 0 blue); */
  filter: drop-shadow(1px 1px 0 var(--outline-color))
    drop-shadow(-1px -1px 0 var(--outline-color))
    drop-shadow(1px -1px 0 var(--outline-color))
    drop-shadow(-1px 1px 0 var(--outline-color));
}

:root {
  --shadow-color: 13deg 53% 36%;
  --shadow-elevation-low: 0.6px 0.2px 0.7px hsl(var(--shadow-color) / 0.34),
    1px 0.4px 1.2px -1.2px hsl(var(--shadow-color) / 0.34),
    2.3px 0.9px 2.8px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.6px 0.2px 0.7px hsl(var(--shadow-color) / 0.36),
    1.9px 0.8px 2.3px -0.8px hsl(var(--shadow-color) / 0.36),
    4.7px 1.9px 5.7px -1.7px hsl(var(--shadow-color) / 0.36),
    11.5px 4.7px 14px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.6px 0.2px 0.7px hsl(var(--shadow-color) / 0.34),
    3.4px 1.4px 4.1px -0.4px hsl(var(--shadow-color) / 0.34),
    6.3px 2.5px 7.6px -0.7px hsl(var(--shadow-color) / 0.34),
    10.3px 4.2px 12.5px -1.1px hsl(var(--shadow-color) / 0.34),
    16.4px 6.7px 19.9px -1.4px hsl(var(--shadow-color) / 0.34),
    25.7px 10.4px 31.2px -1.8px hsl(var(--shadow-color) / 0.34),
    39px 15.9px 47.4px -2.1px hsl(var(--shadow-color) / 0.34),
    57.4px 23.4px 69.7px -2.5px hsl(var(--shadow-color) / 0.34);
}
